body {
    font-family: sans-serif;
    background-color: black;
    color: red;
    text-align: center;
    font-size: 22px;
}
.set{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
    width: 700px;
    border: 10px solid rgb(255, 0, 0);
    height: 300px;
    border-radius: 30px;
    margin: 15px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: black;

}
.card img{
    width: 100%;
}
.card a{
    border: 2px solid black;
    border-radius: 30px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(238, 255, 1);
    text-decoration: none;
    color: blue;
}
.card a:hover{
    background-color: blueviolet;
}
nav{
    display: flex;
    justify-content: space-around;
}

a{
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(255, 1, 1);
    text-decoration: none;
    color: black;
}
a:hover{

    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 11, 11);
    color: rgb(255, 0, 0);
    transition: 1s linear;
    transform: scale(1.2);
}
